body{
    background: url(../img/pexels-pixabay-434551.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.toDo{
    width: 500px;
    
    border: 2px solid #F4DFB6;
    border-radius: 10px;

}
.todoInput{
    width: 300px;
    height: 30px;
    outline: none;
    border: none;
    background: transparent;
    border: 2px solid #5D0E41;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-left: 73px;
}
.todoButton{
    width: 45px;
    height: 34px;
    background: #5D0E41;
    color: #FF6500;
    font-size: 25px;
}
.todoList{
    margin-top: 25px;
    margin-left: 40px;
    
}
.singelTodoInput{
    width: 280px;
    height: 30px;
    margin-left: 20px;
    outline: none;
    border: none;
    background: transparent; 
    border: 2px solid #AF8260;
    font-size: 25px;
    width: 600;
    color: #fff;
    text-align: center;
    
    
}
.EditButton{
    width: 55px;
    height: 35px;
    font-size: 20px;
    font-weight: 600;
    background: yellowgreen;
}
.DeleteButton{
    width: 70px;
    height: 35px;
    font-size: 20px;
    font-weight: 600;
    background: red;
}